body{
    background: linear-gradient(180deg, #ffffff, #ebfcfc);
    background-size: 100%;
}
h1{
    font-family: 'Lora', serif;
    font-size: 25px;
    color: #020202;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main-content-headers h1{
    text-align: center;
}
h2{
    font-family: 'Lora', serif;
    font-size: 22px;
    color: #020202;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main-content-headers h2{
    text-align: center;
}
.courses-main-content-headers h2{
    font-style: italic;
}
.main-content{
    opacity: 0;
    animation: animation 2s forwards;
}
@keyframes animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.courses-main-content-headers{
    margin-left: 50px;
}
table{
    table-layout: fixed;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.schedule{
    text-align: center;
    font-family: 'Lora', sans-serif;
}
#header, #weekday{
    background-color: #96969b;
}
#header{
    width: 10%;
    padding: 20px;
}
#weekday{
    width: 10%;
}
#department{
    background-color: #84c8cf;
    padding: 10px;
}
#time{
    background-color: #84c8cf;
    padding: 5px;
    width: 10%;
}
.schedule-data{
    padding: 10px;
    width: 40%;
}
.schedule tr:nth-child(odd){
    background-color: #8ed5dd17;
}
#course:hover{
    background-color: #bebebe48;
}
#weekday{
    writing-mode: vertical-lr;
    text-orientation: upright;
}
a{
    color: #000000;
}
a:visited{
    color: rgb(17, 117, 117);
}
li{
    padding: 5px;
    
}